body {
    font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
    align-items: center;
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: white;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-bottom {
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-container {
    margin-right: 20px;
}

rafflr-app {
    width: 100%;
}